body {
  background-color: $camoGreen;
  color: $iceBlue;
}

h2 {
  @include fontMixin($dokdo, 105px, $marigold);
  line-height: 69.6px;
  letter-spacing: 10.9px;
}

h3 {
  @include fontMixin($dokdo, 45px, $marigold);
  line-height: 58px;
  letter-spacing: 4.9px;
  font-weight: 300;
  @include responsiveMedia(smallTablet) {
    font-size: 30px;
  }
}

h4 {
  @include fontMixin($dokdo, 40px, $marigold);
  line-height: 58px;
  letter-spacing: 4.3px;
}

h5 {
  @include fontMixin($dokdo, 25px, $iceBlue);
}

h6 {
  @include fontMixin($lato, 20px, $marigold);
  padding-bottom: 20px;
}

p,
a,
li {
  @include fontMixin($lato, 18px, $iceBlue);
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
  @include responsiveMedia(smallTablet) {
    font-size: 16px;
  }
}

i {
  font-size: 25px;
  color: $iceBlue;
}

.wrapper {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

.hamburger {
  display: none;
}
