.hamburgerMenu {
  display: none;
  @include responsiveMedia(smallTablet) {
    display: flex;
  }
}

.hamburgerCheckbox {
  display: none;
  &:checked ~ .hamburgerList {
    transform: translateX(0rem);
  }
}

.hamburgerList {
  background: $mudGreen;
  width: 60%;
  height: 100vh;
  position: fixed;
  transform: translateX(60rem);
  top: 0;
  right: 0;
  z-index: 1;
  transition: linear 0.5s;
  opacity: 0.8;
  //   @include responsiveMedia(phone) {
  //     width: 80%;
  //   }
}

.hamburgerLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 40vh;
  li {
    margin-bottom: 50px;
    a {
      @include fontMixin($dokdo, 40px, $iceBlue);
    }
  }
}

.hamburgerIcon {
  position: fixed;
  cursor: pointer;
  width: 32px;
  height: 32px;
  right: 30px;
  top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
  //   @include responsiveMedia(phone) {
  //     top: 40px;
  //     right: 100px;
  //   }
  & > div {
    height: 4px;
    background-color: $marigold;
    transition: 0.5s;
    z-index: 100;
  }
}
// .headerContact .hamburgerIcon {
//   @include responsiveMedia(phone) {
//     top: 30px;
//     right: 100px;
//   }
// }

.hamburgerCheckbox:checked ~ .hamburgerIcon > div {
  background-color: $iceBlue;

  &:nth-child(2) {
    opacity: 0;
  }

  &:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
  }
  &:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
  }
}
