nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 100px;
}
.menu{
    display:flex;
    flex-direction: row;
    li {
        padding:10px;
        a {
            text-decoration: none;
            color: $iceBlue;

            &:hover, &:focus {
                color: $marigold;
            }
        }
    }
}
.logo {
    font-family: $dokdo;
    font-size: 41.5px;
    text-align: center;
    text-decoration: none;
    color: $marigold;
}