nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.menu {
    flex: 0 1 40%;
}


.menu{
    display: flex;
    li {
        display: flex;
        justify-content: center;
	    align-items: center;
        flex: 1 1 calc(100% / 3);
        a {
            @include fontMixin($lato, 20px, $iceBlue);
            font-weight: 700;
            letter-spacing: 1px;
            text-decoration: none;
    
            &:hover, &:focus {
                color: $marigold;
            }
        }
    }
}
.logo {
    @include fontMixin($dokdo, 41.5px, $marigold);
    text-align: center;
    text-decoration: none;

    &:hover, :focus {
        color: $iceBlue;
    }
}