// $iceBlue: #FAFFFE;
// $charcoal: #262725;
// $marigold: #FFC600;
// $mudGreen: #555F02;
// $camoGreen: #1E140E;

.headerBlog {
  @include headerBackground(
    url(../assets/images/blog-image-1.jpg),
    no-repeat,
    cover,
    center
  );
  height: 60vh;
  h2 {
    padding: 150px;
  }
}
.blogWrapper {
  background-color: $camoGreen;
}

.mainBlogWrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.mainBlog {
  display: flex;
  justify-content: space-between;
}

.blogSection {
  position: relative;
  bottom: 150px;
  width: 60%;
  .blogImage {
    box-shadow: 20px 20px $mudGreen;
    margin-left: -20px;
  }
  article {
    border-right: 5px solid $mudGreen;
    border-bottom: 5px solid $mudGreen;
    padding: 50px 100px;
    p {
      margin-bottom: 25px;
    }
  }
}

.commentsDiv {
  padding: 50px 30px 50px 100px;
  h3 {
    color: $iceBlue;
  }
}

.comment {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }
  .commentDetails {
    padding-left: 50px;
  }
}

aside {
  width: 27%;

  img {
    box-shadow: -20px 20px $mudGreen;
    margin: 150px 0 0 20px;
    width: 93%;
  }
  .asideContent {
    padding: 20px;
    background-color: $mudGreen;
  }
}
