// $iceBlue: #FAFFFE;
// $charcoal: #262725;
// $marigold: #FFC600;
// $mudGreen: #555F02;
// $camoGreen: #1E140E;

.headerContact {
  @include headerBackground(
    url(../assets/images/contact-image-1.jpg),
    no-repeat,
    cover,
    center
  );
  //   height: 60vh;
  h2 {
    padding: 150px;
  }
}

.contactSection {
  display: flex;
  justify-content: space-between;
}

.socialMediaIcons {
  display: flex;
  justify-content: flex-start;
  li {
    padding-right: 25px;
  }
}
