// $iceBlue: #FAFFFE;
// $charcoal: #262725;
// $marigold: #FFC600;
// $mudGreen: #555F02;
// $camoGreen: #1E140E;

.headerContact {
  @include headerBackground(
    url(../assets/images/contact-image-1.jpg),
    no-repeat,
    cover,
    80%
  );
  height: 60vh;
}

.contactSection {
  display: flex;
  @include responsiveMedia(tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contactInfo {
  margin: 150px;
  p:nth-of-type(1) {
    padding: 10px 0 25px;
  }
  @include responsiveMedia(tablet) {
    text-align: center;
  }
}

.socialMediaIcons {
  display: flex;
  justify-content: flex-start;
  color: $marigold;
  li {
    padding-right: 25px;
    i {
      color: $marigold;
      &:hover,
      &focus {
        color: $iceBlue;
      }
    }
  }
  @include responsiveMedia(tablet) {
    justify-content: center;
    margin-left: 25px;
  }
}
