// $iceBlue: #FAFFFE;
// $charcoal: #262725;
// $marigold: #FFC600;
// $mudGreen: #555F02;
// $camoGreen: #1E140E;
.mainHome section:nth-child(even) {
  background-color: $charcoal;
}
.mainHome section:nth-child(odd) {
  background-color: $camoGreen;
}

.headerHome {
  background-image: url(../assets/images/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //   width: 100vw;
}

.headerContent {
  display: flex;
  justify-content: flex-start;
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0 0 40px;
    h1 {
      @include fontMixin($dokdo, 115px, $marigold);
    }
    h3 {
      @include fontMixin($lato, 45px, $iceBlue);
    }
  }
  img {
    position: relative;
    top: 100px;
    width: 40%;
  }
}

.aboutSection {
  display: flex;
  justify-content: space-between;
  padding: 250px 0 100px;
  img {
    flex: 0 1 30%;
    box-shadow: -15px 15px $mudGreen;
  }
  .aboutContent {
    width: 65%;
    padding-right: 30px;
  }
}

.gallerySection {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  img:nth-of-type(2) {
    padding: 0 25px;
  }
}

.infoSection {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 150px;
  div {
    flex: 1 0 40%;
    padding: 20px;
  }
}
.homeBlog {
  display: flex;
  flex-direction: column;
}

.homeBlog1,
.homeBlog2 {
  display: flex;
  justify-content: space-between;
  .blogContent {
    width: 30%;
    margin: auto;
  }
  img {
    width: 40%;
    height: 40%;
  }
}
.homeBlog1 {
  img {
    position: relative;
    bottom: 40px;
    box-shadow: 25px 25px $marigold;
  }
}

.homeBlog2 {
  .blogContent {
    order: 1;
    text-align: right;
  }
  img {
    order: 2;
    position: relative;
    top: 40px;
    box-shadow: -25px 25px $marigold;
  }
}

.freeTrialsection img {
  width: 100%;
}
.freeTrialContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 100px;
}
