// $iceBlue: #FAFFFE;
// $charcoal: #262725;
// $marigold: #FFC600;
// $mudGreen: #555F02;
// $camoGreen: #1E140E;

// Home Page Partial

.mainHome section:nth-child(even) {
  background-color: $charcoal;
}
.mainHome section:nth-child(odd) {
  background-color: $camoGreen;
}

.headerHome {
  @include headerBackground(
    url(../assets/images/home-image-1.jpg),
    no-repeat,
    cover,
    80%
  );
}

.headerContent {
  display: flex;
  justify-content: flex-start;
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0 0 40px;
    h1 {
      @include fontMixin($dokdo, 115px, $marigold);
      @include responsiveMedia(smallTablet) {
        font-size: 60px;
      }
    }
    h3 {
      @include fontMixin($lato, 45px, $iceBlue);
      font-weight: 300;
      @include responsiveMedia(smallTablet) {
        font-size: 25px;
      }
    }
  }
  img {
    position: relative;
    top: 100px;
    width: 40%;
    @include responsiveMedia(smallTablet) {
      display: none;
    }
  }
  @include responsiveMedia(smallTablet) {
    justify-content: flex-start;
    padding-bottom: 200px;
  }
}

.aboutSection {
  display: flex;
  justify-content: space-between;
  padding: 250px 0 100px;
  img {
    width: 300px;
    height: 300px;
    box-shadow: -15px 15px $mudGreen;
    @include responsiveMedia(smallTablet) {
      order: 1;
      margin-bottom: 40px;
    }
  }
  .aboutContent {
    width: 65%;
    padding-right: 30px;
    @include responsiveMedia(smallTablet) {
      order: 2;
      padding: 0;
      text-align: center;
    }
  }
  @include responsiveMedia(smallTablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px;
  }
}

.gallerySection {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  @include responsiveMedia(smallTablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  img {
    transition: ease-in-out 0.5s;
    &:nth-of-type(2) {
      margin: 0 25px;
    }
    &:hover,
    &:focus {
      z-index: 10;
      transform: scale(1.1);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
    }
    @include responsiveMedia(smallTablet) {
      width: 70%;
      &:nth-of-type(2) {
        margin: 25px 0;
      }
    }
  }
}

.infoSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0 150px;
  @include responsiveMedia(smallTablet) {
    flex-direction: column;
  }
}
.infoContent {
  display: flex;
  flex: 1 0 50%;
  padding-bottom: 50px;
  //   padding-right: 20px;
  .iconHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $mudGreen;
    width: 60px;
    height: 55px;
    margin-right: 20px;
  }

  .iconDetails {
    width: 100%;
  }
}

.homeBlog {
  display: flex;
  flex-direction: column;
}

.homeBlog1,
.homeBlog2 {
  display: flex;
  justify-content: space-between;
  @include responsiveMedia(tablet) {
    align-items: center;
  }
  @include responsiveMedia(smallTablet) {
    flex-direction: column;
  }

  .blogContent {
    width: 35%;
    margin: 50px auto;
    @include responsiveMedia(tablet) {
      width: 45%;
    }
    @include responsiveMedia(smallTablet) {
      width: 70%;
      text-align: center;
    }
  }
  img {
    width: 40%;
    height: 40%;
    @include responsiveMedia(tablet) {
      min-width: 30%;
    }
    @include responsiveMedia(smallTablet) {
      width: 70%;
    }
  }
}
.homeBlog1 {
  img {
    position: relative;
    bottom: 40px;
    box-shadow: 25px 25px $marigold;
    @include responsiveMedia(smallTablet) {
      bottom: 0;
      margin-top: 50px;
      box-shadow: 15px 15px $marigold;
    }
  }
}

.homeBlog2 {
  .blogContent {
    order: 1;
    text-align: right;
    @include responsiveMedia(smallTablet) {
      order: 2;
      text-align: center;
    }
  }
  img {
    order: 2;
    position: relative;
    top: 40px;
    box-shadow: -25px 25px $marigold;
    @include responsiveMedia(smallTablet) {
      margin-bottom: 50px;
      order: 1;
      box-shadow: -15px 15px $marigold;
    }
  }
}

.freeTrialSection img {
  width: 100%;
}
.freeTrialContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 100px;
  @include responsiveMedia(phone) {
    padding: 50px 0;
    width: 80%;
    text-align: center;
  }
}
