@mixin headingH2 {
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 4.9px;
}

@mixin fontMixin($font, $fontSize, $color) {
    font-family: $font;
    font-size: $fontSize;
    color: $color;
}

// @mixin dokdoFont($fontsize) {
//     font-family: $dokdo;
//     font-size: $fontsize;
// }
// @mixin latoFont($fontsize) {
//     font-family:$lato;
//     font-size: $fontsize;
// }