
@mixin fontMixin($font, $fontSize, $color ) {
    font-family: $font;
    font-size: $fontSize;
    color: $color;
}

// @mixin dokdoFont($fontsize) {
//     font-family: $dokdo;
//     font-size: $fontsize;
// }
// @mixin latoFont($fontsize) {
//     font-family:$lato;
//     font-size: $fontsize;
// }