
// colors
$iceBlue: #FAFFFE;
$charcoal: #262725;
$marigold: #FFC600;
$mudGreen: #555F02;
$camoGreen: #1E140E;

// Media Queries
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;

//Fonts 
$dokdo : 'Dokdo', cursive;
$lato: 'Lato', sans-serif;