// colors
$iceBlue: #fafffe;
$charcoal: #262725;
$marigold: #ffc600;
$mudGreen: #555f02;
$camoGreen: #1e140e;

// Media Queries
$desktop: 990px;
$tablet: 600px;
$mobile: 480px;

//Fonts
$dokdo: "Dokdo", cursive;
$lato: "Lato", sans-serif;
