@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Lato:wght@300;400;700&display=swap");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

h2 {
  font-family: "Dokdo", cursive;
  font-size: 105px;
  color: #FFC600;
  line-height: 69.6px;
  letter-spacing: 10.9px;
}

h3 {
  font-family: "Dokdo", cursive;
  font-size: 45px;
  color: #FFC600;
  line-height: 58px;
  letter-spacing: 4.9px;
}

h4 {
  font-family: "Dokdo", cursive;
  font-size: 40px;
  color: #FFC600;
  line-height: 58px;
  letter-spacing: 4.3px;
}

p,
a {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #FAFFFE;
}

.wrapper {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 100px;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
  position: relative;
}

li a {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #FAFFFE;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 70%;
  height: 3px;
  background-color: #FFC600;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

li a:hover, li a:focus {
  color: #FFC600;
}

li a:hover:after, li a:focus:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

li .active {
  color: #FFC600;
}

li .active:after {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 70%;
  height: 3px;
  background-color: #FFC600;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.logoDiv {
  position: relative;
}

.logoWrapper:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #FFC600;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.logoWrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #FFC600;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.logoWrapper .logo {
  font-family: "Dokdo", cursive;
  font-size: 41.5px;
  color: #FFC600;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.logoWrapper .logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FFC600;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.logoWrapper .logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #FFC600;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.logoWrapper:hover:before, .logoWrapper:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.logoWrapper:hover .logo:before, .logoWrapper:hover .logo:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.more {
  font-family: "Dokdo", cursive;
  font-size: 30px;
  color: #FAFFFE;
  background-color: #555F02;
  border: none;
  margin-top: 40px;
  padding: 5px 20px;
}

footer {
  width: 100%;
  background-color: #262725;
  color: #FAFFFE;
  text-align: center;
  padding: 20px;
}

.mainHome section:nth-child(even) {
  background-color: #262725;
}

.mainHome section:nth-child(odd) {
  background-color: #1E140E;
}

.headerHome {
  background-image: url(../assets/images/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerContent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContent div h1 {
  font-family: "Dokdo", cursive;
  font-size: 115px;
  color: #FFC600;
}

.headerContent div h3 {
  font-family: "Lato", sans-serif;
  font-size: 45px;
  color: #FAFFFE;
}

.headerContent img {
  position: relative;
  top: 100px;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 250px 0 100px;
}

.aboutSection img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-shadow: -15px 15px #555F02;
          box-shadow: -15px 15px #555F02;
}

.aboutSection .aboutContent {
  width: 65%;
  padding-right: 30px;
}

.gallerySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.gallerySection img:nth-of-type(2) {
  padding: 0 25px;
}

.infoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 150px;
}

.infoSection div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding: 20px;
}

.homeBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeBlog1,
.homeBlog2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeBlog1 .blogContent,
.homeBlog2 .blogContent {
  width: 40%;
  margin: auto;
}

.homeBlog1 img {
  position: relative;
  bottom: 40px;
  -webkit-box-shadow: 25px 25px #FFC600;
          box-shadow: 25px 25px #FFC600;
}

.homeBlog2 .blogContent {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
}

.homeBlog2 img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  top: 40px;
  -webkit-box-shadow: -25px 25px #FFC600;
          box-shadow: -25px 25px #FFC600;
}

.freeTrialsection img {
  width: 100%;
}

.freeTrialContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: 0 auto;
  padding: 100px;
}

.headerContact {
  background-image: url(../assets/images/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.headerBlog {
  background-image: url(../assets/images/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.mainBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  background-color: #1E140E;
  color: #FAFFFE;
}
