@import url("https://fonts.googleapis.com/css2?family=Dokdo&family=Lato:wght@300;400;700&display=swap");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

.skipLink {
  position: absolute;
  left: -10000px;
  top: 5px;
  z-index: 999;
  background: #201e21;
  color: #ffffff;
}

.skipLink:focus {
  left: 400px;
}

body {
  background-color: #1e140e;
  color: #fafffe;
}

h2 {
  font-family: "Dokdo", cursive;
  font-size: 105px;
  color: #ffc600;
  line-height: 69.6px;
  letter-spacing: 10.9px;
  padding: 150px;
}

@media (max-width: 900px) {
  h2 {
    font-size: 90px;
  }
}

@media (max-width: 600px) {
  h2 {
    padding: 50px;
    text-align: left;
  }
}

h3 {
  font-family: "Dokdo", cursive;
  font-size: 45px;
  color: #ffc600;
  line-height: 58px;
  letter-spacing: 4.9px;
}

@media (max-width: 900px) {
  h3 {
    font-size: 35px;
  }
}

h4 {
  font-family: "Dokdo", cursive;
  font-size: 40px;
  color: #ffc600;
  line-height: 58px;
  letter-spacing: 4.3px;
}

@media (max-width: 900px) {
  h4 {
    font-size: 30px;
  }
}

h5 {
  font-family: "Dokdo", cursive;
  font-size: 25px;
  color: #fafffe;
}

h6 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #ffc600;
  padding-bottom: 20px;
}

p,
a,
li {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #fafffe;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  p,
  a,
  li {
    font-size: 16px;
  }
}

i {
  font-size: 25px;
  color: #fafffe;
}

.wrapper {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 150px;
}

@media (max-width: 900px) {
  nav {
    padding: 45px 45px;
  }
}

@media (max-width: 900px) {
  .menu {
    display: none;
  }
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.menu li,
.hamburgerLinks li {
  margin: 0 25px;
  position: relative;
}

.menu li a,
.hamburgerLinks li a {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #fafffe;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.menu li a:after,
.hamburgerLinks li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffc600;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu li a:hover, .menu li a:focus,
.hamburgerLinks li a:hover,
.hamburgerLinks li a:focus {
  color: #ffc600;
}

.menu li a:hover:after, .menu li a:focus:after,
.hamburgerLinks li a:hover:after,
.hamburgerLinks li a:focus:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu li .active,
.hamburgerLinks li .active {
  color: #ffc600;
}

.menu li .active:after,
.hamburgerLinks li .active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffc600;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.logoDiv {
  position: relative;
  width: 230px;
  height: 32px;
}

.logoWrapper:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #ffc600;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.logoWrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #ffc600;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.logoWrapper .logo {
  font-family: "Dokdo", cursive;
  font-size: 41.5px;
  color: #ffc600;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.logoWrapper .logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffc600;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.logoWrapper .logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #ffc600;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.logoWrapper:hover:before, .logoWrapper:hover:after, .logoWrapper:focus:before, .logoWrapper:focus:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.logoWrapper:hover .logo:before, .logoWrapper:hover .logo:after, .logoWrapper:focus .logo:before, .logoWrapper:focus .logo:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hamburgerMenu {
  display: none;
}

@media (max-width: 900px) {
  .hamburgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hamburgerCheckbox {
  display: none;
}

.hamburgerCheckbox:checked ~ .hamburgerList {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

@media (max-width: 600px) {
  .hamburgerCheckbox:checked ~ .headerContact .hamburgerList {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
}

.hamburgerList {
  background: #555f02;
  width: 60%;
  height: 100vh;
  position: fixed;
  -webkit-transform: translateX(60rem);
          transform: translateX(60rem);
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
  opacity: 0.8;
}

.hamburgerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40vh;
}

.hamburgerLinks li {
  margin-bottom: 50px;
}

.hamburgerLinks li a {
  font-family: "Dokdo", cursive;
  font-size: 40px;
  color: #fafffe;
}

.hamburgerIcon {
  position: fixed;
  cursor: pointer;
  width: 32px;
  height: 32px;
  right: 30px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}

.hamburgerIcon > div {
  height: 4px;
  background-color: #ffc600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
}

@media (max-width: 600px) {
  .headerContact .hamburgerIcon {
    top: 30px;
    right: 100px;
  }
}

.hamburgerCheckbox:checked ~ .hamburgerIcon > div {
  background-color: #fafffe;
}

.hamburgerCheckbox:checked ~ .hamburgerIcon > div:nth-child(2) {
  opacity: 0;
}

.hamburgerCheckbox:checked ~ .hamburgerIcon > div:nth-child(1) {
  -webkit-transform: translateY(14px) rotate(45deg);
          transform: translateY(14px) rotate(45deg);
}

.hamburgerCheckbox:checked ~ .hamburgerIcon > div:nth-child(3) {
  -webkit-transform: translateY(-14px) rotate(-45deg);
          transform: translateY(-14px) rotate(-45deg);
}

.contactForm {
  position: relative;
  bottom: 100px;
  padding: 50px;
  background-color: #262725;
  -webkit-box-shadow: 20px 20px #ffc600;
          box-shadow: 20px 20px #ffc600;
  width: 70%;
}

@media (max-width: 1200px) {
  .contactForm {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .contactForm {
    padding: 30px;
    bottom: 0;
    margin-top: 50px;
  }
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  margin: 15px;
  padding: 10px 5px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #fafffe;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  input[type="text"],
  input[type="email"],
  textarea {
    margin: 15px;
    font-size: 16px;
  }
}

input[type="text"],
input[type="email"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #ffc600;
  padding: 20px;
}

@media (max-width: 600px) {
  input[type="text"],
  input[type="email"] {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

textarea,
.formButton {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

textarea {
  padding: 25px;
  background: transparent;
  border: 2px solid #ffc600;
}

.more,
.formButton {
  font-family: "Dokdo", cursive;
  font-size: 30px;
  color: #fafffe;
  background-color: #555f02;
  border: none;
  margin-top: 40px;
  padding: 5px 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.more:hover, .more:focus,
.formButton:hover,
.formButton:focus {
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

footer {
  width: 100%;
  background-color: #262725;
  color: #fafffe;
  text-align: center;
  padding: 20px;
}

.mainHome section:nth-child(even) {
  background-color: #262725;
}

.mainHome section:nth-child(odd) {
  background-color: #1e140e;
}

.headerHome {
  background-image: url(../assets/images/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 80%;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.headerContent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 100px 0 0 40px;
}

.headerContent div h1 {
  font-family: "Dokdo", cursive;
  font-size: 115px;
  color: #ffc600;
}

@media (max-width: 900px) {
  .headerContent div h1 {
    font-size: 60px;
  }
}

.headerContent div h3 {
  font-family: "Lato", sans-serif;
  font-size: 45px;
  color: #fafffe;
  font-weight: 300;
}

@media (max-width: 900px) {
  .headerContent div h3 {
    font-size: 25px;
  }
}

.headerContent img {
  position: relative;
  top: 100px;
  width: 40%;
}

@media (max-width: 900px) {
  .headerContent img {
    display: none;
  }
}

@media (max-width: 900px) {
  .headerContent {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 200px;
  }
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 250px 0 100px;
}

.aboutSection img {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: -15px 15px #555f02;
          box-shadow: -15px 15px #555f02;
}

@media (max-width: 900px) {
  .aboutSection img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 40px;
  }
}

.aboutSection .aboutContent {
  width: 65%;
  padding-right: 30px;
}

@media (max-width: 900px) {
  .aboutSection .aboutContent {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .aboutSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 50px 0 50px;
  }
}

.gallerySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.gallerySection img {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.gallerySection img:nth-of-type(2) {
  margin: 0 25px;
}

.gallerySection img:hover, .gallerySection img:focus {
  z-index: 10;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  .gallerySection img {
    width: 70%;
  }
  .gallerySection img:nth-of-type(2) {
    margin: 25px 0;
  }
}

@media (max-width: 900px) {
  .gallerySection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
  }
}

.infoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 150px;
}

@media (max-width: 900px) {
  .infoSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.infoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding-bottom: 50px;
}

.infoContent .iconHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #555f02;
  width: 60px;
  height: 55px;
  margin-right: 20px;
}

.infoContent .iconDetails {
  width: 100%;
}

.homeBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeBlog1,
.homeBlog2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .homeBlog1,
  .homeBlog2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 900px) {
  .homeBlog1,
  .homeBlog2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.homeBlog1 .blogContent,
.homeBlog2 .blogContent {
  width: 35%;
  margin: 50px auto;
}

@media (max-width: 1200px) {
  .homeBlog1 .blogContent,
  .homeBlog2 .blogContent {
    width: 45%;
  }
}

@media (max-width: 900px) {
  .homeBlog1 .blogContent,
  .homeBlog2 .blogContent {
    width: 70%;
    text-align: center;
  }
}

.homeBlog1 img,
.homeBlog2 img {
  width: 40%;
  height: 40%;
}

@media (max-width: 1200px) {
  .homeBlog1 img,
  .homeBlog2 img {
    min-width: 30%;
  }
}

@media (max-width: 900px) {
  .homeBlog1 img,
  .homeBlog2 img {
    width: 70%;
  }
}

.homeBlog1 img {
  position: relative;
  bottom: 40px;
  -webkit-box-shadow: 25px 25px #ffc600;
          box-shadow: 25px 25px #ffc600;
}

@media (max-width: 900px) {
  .homeBlog1 img {
    bottom: 0;
    margin-top: 50px;
    -webkit-box-shadow: 15px 15px #ffc600;
            box-shadow: 15px 15px #ffc600;
  }
}

.homeBlog2 .blogContent {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
}

@media (max-width: 900px) {
  .homeBlog2 .blogContent {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
}

.homeBlog2 img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  top: 40px;
  -webkit-box-shadow: -25px 25px #ffc600;
          box-shadow: -25px 25px #ffc600;
}

@media (max-width: 900px) {
  .homeBlog2 img {
    margin-bottom: 50px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-shadow: -15px 15px #ffc600;
            box-shadow: -15px 15px #ffc600;
  }
}

.freeTrialSection img {
  width: 100%;
}

.freeTrialContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 100px;
}

@media (max-width: 600px) {
  .freeTrialContent {
    padding: 50px 0;
    width: 80%;
    text-align: center;
  }
}

.headerBlog {
  height: 60vh;
  background-image: url(../assets/images/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 80%;
}

.blogWrapper {
  background-color: #1e140e;
}

.mainBlogWrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.mainBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .mainBlog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.blogSection {
  position: relative;
  bottom: 150px;
  width: 60%;
}

.blogSection .blogImage {
  -webkit-box-shadow: 20px 20px #555f02;
          box-shadow: 20px 20px #555f02;
  margin-left: -20px;
}

.blogSection article {
  border-right: 5px solid #555f02;
  border-bottom: 5px solid #555f02;
  padding: 50px 100px;
}

.blogSection article p {
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .blogSection article {
    padding: 50px 25px;
    border-left: 5px solid #555f02;
  }
}

@media (max-width: 900px) {
  .blogSection {
    width: 80%;
    bottom: 0;
    margin: 50px 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.commentsDiv {
  padding: 50px 30px 50px 100px;
}

.commentsDiv h3 {
  margin-top: 50px;
  color: #fafffe;
}

@media (max-width: 900px) {
  .commentsDiv {
    padding: 0;
  }
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto;
}

.comment img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .comment img {
    display: none;
  }
}

.comment .commentDetails {
  padding-left: 50px;
}

@media (max-width: 600px) {
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comment .commentDetails {
    padding: 0;
  }
}

aside {
  width: 27%;
}

aside img {
  -webkit-box-shadow: -20px 20px #555f02;
          box-shadow: -20px 20px #555f02;
  margin: 150px 0 0 20px;
  width: 93%;
}

@media (max-width: 900px) {
  aside img {
    width: 50%;
    margin: 0 0 0 20px;
  }
}

@media (max-width: 600px) {
  aside img {
    display: none;
  }
}

aside .asideContent {
  padding: 20px;
  background-color: #555f02;
}

@media (max-width: 900px) {
  aside {
    margin-top: 50px;
    padding: 30px;
    background-color: #555f02;
    width: 85%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.recentPosts {
  margin: 20px 0;
}

.recentPosts li::before {
  content: "\2022";
  color: #ffc600;
  font-weight: bold;
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 20px;
  margin-left: 10px;
}

.headerContact {
  background-image: url(../assets/images/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 80%;
  height: 60vh;
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .contactSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contactInfo {
  margin: 150px;
}

.contactInfo p:nth-of-type(1) {
  padding: 10px 0 25px;
}

@media (max-width: 1200px) {
  .contactInfo {
    text-align: center;
  }
}

.socialMediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #ffc600;
}

.socialMediaIcons li {
  padding-right: 25px;
}

.socialMediaIcons li i {
  color: #ffc600;
}

.socialMediaIcons li i:hover, .socialMediaIcons li ifocus {
  color: #fafffe;
}

@media (max-width: 1200px) {
  .socialMediaIcons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 25px;
  }
}
